<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form #stdForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input required #fullName="ngModel" ngModel name="fullName" pattern="^[A-Za-z]+$" type="text"
                class="form-control">
              <p class="text-danger" *ngIf="fullName.touched && fullName.hasError('required')">Full Name is a required
                field</p>
              <p class="text-danger" *ngIf="fullName.dirty && fullName.hasError('pattern')">Plz enter alphabets only</p>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input required #email="ngModel" ngModel name="email"
                pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" class="form-control">
              <p class="text-danger" *ngIf="email.touched && email.hasError('required')">Email is a required field</p>
              <p class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">Plz enter valid email id</p>
            </div>

            <div class="form-group">
              <label for="mobileNo">mobileNo</label>
              <input required #mobileNo="ngModel" ngModel name="mobileNo" pattern="^[6-9][0-9]{9}$" type="text"
                class="form-control">
              <p class="text-danger" *ngIf="mobileNo.touched && mobileNo.hasError('required')">mobileNo is a required
                field</p>
              <p class="text-danger" *ngIf="mobileNo.dirty && mobileNo.hasError('pattern')">Plz enter valid 10 digit
                mobileNo</p>
            </div>

            <div class="form-group">
              <label for="gender">Gender</label>
              <br>
              <input type="radio" name="gender" value="Male" ngModel #gender="ngModel" required>
              <label class="mr-2">Male</label>

              <input type="radio" name="gender" value="Female" ngModel required>
              <label class="mr-2">Female</label>
              <p class="text-danger" *ngIf="gender.touched && gender.hasError('required')">
                Gender is required field
              </p>
            </div>

            <div class="form-group">
              <label for="courses">Courses</label>
              <select name="courses" required ngModel #courses="ngModel" id="courses" class="form-control">
                <option value="js">JS</option>
                <option value="angular">Angular</option>
                <option value="node">Node</option>
                <option value="express">Express</option>
                <option value="mongoDB">MongoDB</option>
              </select>
              <p class="text-danger" *ngIf="courses.touched && courses.hasError('required')">Courses is required field
              </p>
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <textarea class="form-control" name="address" id="address" #address="ngModel" required ngModel
                rows="5"></textarea>
              <p class="text-danger" *ngIf="address.touched && address.hasError('required')">Address is required field
              </p>
            </div>

            <div class="form-group">
              <label for="terms_conditions">Terms & conditions
                <input type="checkbox" required ngModel #terms_conditions="ngModel" name="terms_conditions"></label>
              <p class="text-danger" *ngIf="terms_conditions.touched && terms_conditions.hasError('required')">Accept
                Terms & Conditons</p>
            </div>

            <button type="submit" mat-raised-button color="primary" class="w-100">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>